
.fixDiv {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.img {
    position: fixed;
    height: auto;
    max-width: 50%;
    top:0px;
    right:0px;
}
p {
    font: 18px/32px "Libre Baskerville",Georgia,serif;
    font: 1.125rem/2rem "Libre Baskerville",Georgia,serif;
    color: #333333;
}
.spacer {
    height: 80px;
}
#elem {
    background-image: url("./Assets for Developer 10-10-17/image1_@2x.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 50%, auto;
    width: 100%;
    height: calc(100vh);
    position: fixed;
    right: 0;
}
html {
    background-color: #fafafa;
}